<script id="tmpl-FacebookContacts" type="text/html">
<div class="FacebookContacts">
	  <div class="Friends-tableListContain">
	  <table class="table table-striped">
	        <tbody class="listItem">
	        </tbody>
	      </table>
	    </div>
</div>
</script>
