<script id="tmpl-FacebookFriends" type="text/html">
<div class="FacebookFriends">
	  <div class="Friends-tableListContain">
	  <table class="table table-striped">
	        <tbody class="listItem">
	        </tbody>
	      </table>
	    </div>
	    
	    <div class="result modal hide ">
  <div class="modal-body">
  <div class="alert alert-success">
  Operation success!
</div>
  </div>
</div>


 <div class="Friend-detail modal hide ">
  <div class="modal-body">
  
  </div>
   <div class="modal-footer">
    <a href="#" class="close btn">Close</a>
  </div>
</div>


</div>
</script>
<script id="tmpl-FacebookFriend-detail" type="text/html">
<table class="table">
		<tr>
			<td>FirstName</td>
			<td>{{firstName}}</td>
		</tr>
		<tr>
			<td>Link</td>
			<td>{{link}}</td>
		</tr>
	</table>
</script>