<script id="tmpl-FacebookFriends" type="text/html">
<div class="FacebookFriends">
	  <div class="Friends-tableListContain">
	  <table class="table table-striped">
	        <tbody class="listItem">
	        </tbody>
	      </table>
	    </div>
	    
	    <div class="result modal hide ">
  <div class="modal-body">
  <div class="alert alert-success">
  Operation success!
</div>
  </div>
</div>
</div>
</script>
