<script id="tmpl-Top" type="text/html">
	<div class="Top">
		<div class="navbar">
		  <div class="navbar-inner">
		    <ul class="nav">
		      <li data-nav="friends" class="menu active">Friends</li>
		      <li data-nav="contact" class="menu">Contacts</li>
		      <li data-nav="mail" class="menu">Mail</li>
		      <li data-nav="facebook" class="menu">Connect to Facebook</li>
		      <li data-nav="linkedin" class="menu">Connect to LinkedIn</li>
		      <li data-nav="google" class="menu">Connect to Google</li>
		    </ul>
		  </div>
		</div>
	</div>
</script>